<body>
    <div class="container">
        <h1>Catálogo</h1>
    </div>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
            <div class="col-md-3">
                <p style="text-align: center;"><img src="../../assets/huawei p30 pro.jpg" class="img-fluid" alt="" width="200"></p>
            </div>
            <div class="col-md-9 mt-3">
                <div style="padding: 3%;">
                <h4 class="card-title">Huawei P30 Pro</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea aperiam necessitatibus voluptates obcaecati quaerat possimus dolorem eius dolores, dolor quam veritatis quos quo animi placeat doloribus architecto dignissimos hic molestiae.
                </p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
            <div class="col-md-3">
                <p style="text-align: center;"><img src="../../assets/iphone 11.jpg" class="img-fluid" alt="" width="200"></p>
            </div>
            <div class="col-md-9 mt-3">
                <div style="padding: 3%;">
                <h4 class="card-title">iPhone 11</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea aperiam necessitatibus voluptates obcaecati quaerat possimus dolorem eius dolores, dolor quam veritatis quos quo animi placeat doloribus architecto dignissimos hic molestiae.
                </p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
            <div class="col-md-3">
                <p style="text-align: center;"><img src="../../assets/samsung a50.jpg" class="img-fluid" alt="" width="200"></p>
            </div>
            <div class="col-md-9 mt-3">
                <div style="padding: 3%;">
                <h4 class="card-title">Samsung A50</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea aperiam necessitatibus voluptates obcaecati quaerat possimus dolorem eius dolores, dolor quam veritatis quos quo animi placeat doloribus architecto dignissimos hic molestiae.
                </p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
            <div class="col-md-3">
                <p style="text-align: center;"><img src="../../assets/xiaomi mi 9 lite.jpg" class="img-fluid" alt="" width="200"></p>
            </div>
            <div class="col-md-9 mt-3">
                <div style="padding: 3%;">
                <h4 class="card-title">Xiaomi MI 9 Lite</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea aperiam necessitatibus voluptates obcaecati quaerat possimus dolorem eius dolores, dolor quam veritatis quos quo animi placeat doloribus architecto dignissimos hic molestiae.
                </p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
            <div class="col-md-3">
                <p style="text-align: center;"><img src="../../assets/huawei y9 prime.jpg" class="img-fluid" alt="" width="200"></p>
            </div>
            <div class="col-md-9 mt-3">
                <div style="padding: 3%;">
                <h4 class="card-title">Huawei Y9 Prime</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea aperiam necessitatibus voluptates obcaecati quaerat possimus dolorem eius dolores, dolor quam veritatis quos quo animi placeat doloribus architecto dignissimos hic molestiae.
                </p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
            <div class="col-md-3">
                <p style="text-align: center;"><img src="../../assets/iphone 12.png" class="img-fluid" alt="" width="200"></p>
            </div>
            <div class="col-md-9 mt-3">
                <div style="padding: 3%;">
                <h4 class="card-title">iPhone 12</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea aperiam necessitatibus voluptates obcaecati quaerat possimus dolorem eius dolores, dolor quam veritatis quos quo animi placeat doloribus architecto dignissimos hic molestiae.
                </p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
            <div class="col-md-3">
                <p style="text-align: center;"><img src="../../assets/samsung s20.jpg" class="img-fluid" alt="" width="200"></p>
            </div>
            <div class="col-md-9 mt-3">
                <div style="padding: 3%;">
                <h4 class="card-title">Samsung S20</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea aperiam necessitatibus voluptates obcaecati quaerat possimus dolorem eius dolores, dolor quam veritatis quos quo animi placeat doloribus architecto dignissimos hic molestiae.
                </p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="card bg-light">
        <div class="row">
            <div class="col-md-3">
                <p style="text-align: center;"><img src="../../assets/xiaomi redmi note 9 pro.jpg" class="img-fluid" alt="" width="200"></p>
            </div>
            <div class="col-md-9 mt-3">
                <div style="padding: 3%;">
                <h4 class="card-title">Xiamoi Redmi Note 9 Pro</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea aperiam necessitatibus voluptates obcaecati quaerat possimus dolorem eius dolores, dolor quam veritatis quos quo animi placeat doloribus architecto dignissimos hic molestiae.
                </p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <footer>
        <br><br>
        <p style="text-align: center;">Designed by: <a target="_blank" style="color: black;" href="https://www.linkedin.com/in/alexander-sosa-asillanes">Alexander Sosa</a> - 2021 All Rights Reserved © </p>
        <br><br>
    </footer>
</body>