<body>
    <div class="contact">
        <main>
          <div class="container">
              <h2>Información de contacto</h2>
              <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <br>
                        <div class="card">
                            <div class="row">
                            <div class="col-md-4">
                                <br>
                                <p style="text-align: center;"><img src="../../assets/tecno cel.png" class="img-fluid" alt="" width="300" height="300"></p>
                            </div>
                            <div class="col-md-8 mt-4" >
                                  <div style="padding: 3%;">
                                      <h3 class="card-title">Tecno Cel</h3>
                                      <p>
                                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque excepturi cumque nesciunt, recusandae nobis similique quas iusto vero cum totam ipsa non repellat veniam, alias vitae aspernatur eum nam consequuntur?
                                      </p>
                                  </div>
                            </div>
                            </div>
                        </div>      
                    </div>

                    <div class="col-md-6">
                        <p style="text-align: center;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28569115.483247012!2d-78.65464616988189!3d-29.063115010534226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e37113d044b7c9%3A0xdeff4d44c30c5e2a!2sTecnoCell!5e0!3m2!1ses!2sbo!4v1635828635198!5m2!1ses!2sbo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </p>
                    </div>
                </div>
              </div>
          </div>

      </main>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
       <div class="wrapper center-block" style="text-align: center;">
         <div class="button">
            <div class="icon">
               <i class="fab fa-facebook-f"></i>
            </div>
            <span>Facebook</span>
         </div>
         <div class="button">
            <div class="icon">
               <i class="fab fa-twitter"></i>
            </div>
            <span>Twitter</span>
         </div>
         <div class="button">
            <div class="icon">
               <i class="fab fa-instagram"></i>
            </div>
            <span>Instagram</span>
         </div>
         <div class="button">
            <div class="icon">
               <i class="fab fa-youtube"></i>
            </div>
            <span>YouTube</span>
         </div>
      </div>

      <section>
          <div class="container mt-5">
              <h2>¡Envíanos tus comentarios o sugerencias!</h2><br>
              <form action="" method="post" class="row g-3">
                  <div class="col-md-6">
                      <label for="firstname" class="form-label">Nombre</label>
                      <input type="text" name="name" class="form-control" id="firstname" required>
                  </div>
                  <div class="col-md-6">
                      <label for="lastname" class="form-label">Apellido</label>
                      <input type="text" name="lastname" class="form-control" id="lastname" required>
                  </div>
                  <div class="col-md-8">
                      <label for="email" class="form-label">Correo</label>
                      <input type="email" class="form-control" name="mail" id="email" required>
                  </div>
                  <div class="col-md-4">
                      <label class="form-label" for="phone">Celular (opcional)</label>
                      <input type="text" class="form-control" name="phone" id="phone">
                  </div>
                  <div class="col-md-12">
                      <label for="comments" class="form-label">Comentarios o preguntas</label>
                      <textarea class="form-control" name="comment" id="comments" cols="30" rows="3" required></textarea>
                  </div>
                  <div class="col-md-12">
                      <p style="text-align: center;"><button type="submit" class="btn btn-primary">Enviar</button></p>
                  </div>
              </form>
          </div>
      </section>
    </div>

    <footer>
        <br><br>
        <p style="text-align: center;">Designed by: <a target="_blank" style="color: black;" href="https://www.linkedin.com/in/alexander-sosa-asillanes">Alexander Sosa</a> - 2021 All Rights Reserved © </p>
        <br><br>
    </footer>

</body>