<body>
<div class="container">
    <h1>Últimos modelos</h1>
</div>
<section class="mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">
              <p style="text-align: center;"><img class="" src="../../assets/iphone 12.png" alt="" width="250" height="300"></p>
              <h3 class="card-title text-center">iPhone 12</h3>
              <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro praesentium laborum, sapiente repudiandae, animi labore expedita quo molestiae, autem quia accusamus fugit aut mollitia in assumenda blanditiis ab! Esse, eum.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 mb-4">
          <div class="card">
            <div class="card-body">
                <br>
              <p style="text-align: center;"><img class="" src="../../assets/huawei p30 pro.jpg" alt="" width="250" height="250"></p>
              <br>
              <h3 class="card-title text-center">Huawei P30 Pro</h3>
              <p style="text-align: justify;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium expedita nemo commodi. Quas voluptates aliquam obcaecati, doloribus qui facere quae nostrum, itaque placeat non iste aliquid ipsam omnis voluptas eveniet!
              </p>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
  <footer>
    <br>
    <p style="text-align: center;">Designed by: <a target="_blank" style="color: black;" href="https://www.linkedin.com/in/alexander-sosa-asillanes">Alexander Sosa</a> - 2021 All Rights Reserved © </p>
    <br><br>
  </footer>
    
</body>
